html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: arial, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ins,
a {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: inline-block;
}

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
}

* {
  list-style: none;
  scroll-behavior: smooth;
}

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px;
}

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  width: 100%;
  height: 100%;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 50px;
  background: linear-gradient(to right, #FF9000, #FF5100);
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
  position: relative;
}

.header > i {
  color: #fff;
  font-size: 24px;
}

.header input {
  width: 75%;
  height: 45%;
  border-radius: 30px;
  border: 1px solid #ccc;
  text-indent: 15px;
}

.header input::-webkit-input-placeholder {
  color: #fff;
}

.header p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header p > i {
  color: #fff;
}

.header p span {
  color: #fff;
}

.section {
  width: 100%;
  flex: 1;
  overflow-y: auto;
}

.swiper-container {
  width: 100%;
  height: 120px;
}

.swiper-container .swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
}

.swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
}

nav {
  width: 100%;
  height: 160px;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap;
}

nav div {
  width: 20%;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav div img {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  margin-bottom: 5px;
}

.tit {
  width: 100%;
  height: 150px;
}

.tit img {
  width: 100%;
  height: 100%;
}

.list {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.list li {
  width: 49%;
  height: 150px;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}

.list li p {
  width: 100%;
  height: 30px;
  text-indent: 15px;
  line-height: 30px;
  font-size: 16px;
  color: red;
}

.list li img {
  flex: 1;
  height: 100px;
  margin: 0 auto;
  display: block;
}

.list li:nth-child(even) {
  border-right: 0;
}

.footer {
  width: 100%;
  height: 50px;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer p span {
  color: #000;
  font-size: 14px;
}
