@import "common.scss";
@import "mixin.scss";
.box {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    .iconlist {
        position: absolute;
        top: pxTorem(100px);
        right: 0;
        dl {
            width: pxTorem(40px);
            margin-top: pxTorem(20px);
            dt {
                width: 100%;
                height: pxTorem(40px);
                background: pink;
                @include box-flex;
                @include align();
                @include justify();
                i {
                    font-size: pxTorem(20px)
                }
            }
            dd {
                font-size: pxTorem(20px)
            }
        }
    }
    main {
        .top {
            width: 100%;
            height: pxTorem(380px);
            background: #ccc;
        }
        .swiper-container {
            width: 100%;
            height: pxTorem(300px);
        }
        .con {
            width: 100%;
            height: pxTorem(300px);
            img {
                width: 100%;
                height: 60%;
            }
        }
    }
}