html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: arial, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ins,
a {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: inline-block;
}

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
}

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f4f4;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper .header {
  width: 100%;
  height: 1.06667rem;
  background: #FF852A;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.26667rem;
}

.wrapper .header .logo,
.wrapper .header .code {
  width: 1.06667rem;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.08rem;
}

.wrapper .header .logo p,
.wrapper .header .code p {
  color: #fff;
  font-size: 0.32rem;
}

.wrapper .header .logo img,
.wrapper .header .code img {
  width: 0.53333rem;
}

.wrapper .header .ipt {
  flex: 1;
  background: #FF4E22;
  height: 0.8rem;
  border-radius: 0.4rem;
  margin: 0 0.26667rem;
  position: relative;
}

.wrapper .header .ipt input {
  width: 100%;
  height: 100%;
  text-align: center;
}

.wrapper .header .ipt .place {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  line-height: 0.8rem;
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .header .ipt .place i {
  font-size: 0.48rem;
}

.wrapper .main {
  flex: 1;
  overflow: hidden;
}

.wrapper .main .swiper-slide img {
  width: 100%;
  display: block;
}

.wrapper .main .nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #fff;
  padding-bottom: 0.26667rem;
}

.wrapper .main .nav li {
  width: 20%;
  text-align: center;
  flex-shrink: 0;
  margin-top: 0.26667rem;
}

.wrapper .main .nav li p {
  margin-top: 0.05333rem;
}

.wrapper .main .nav li img {
  width: 65%;
}

.wrapper .main .cont {
  margin-top: 0.26667rem;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
}

.wrapper .main .cont li {
  width: 50%;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  padding: 0.13333rem 0.26667rem;
}

.wrapper .main .cont li .cont-l {
  width: 50%;
}

.wrapper .main .cont li .cont-l h3 {
  font-size: 0.48rem;
  color: #ec1616;
}

.wrapper .main .cont li .cont-l p {
  font-size: 0.34667rem;
}

.wrapper .main .cont li .cont-l img {
  width: 100%;
}

.wrapper .main .cont li:nth-child(2) h3 {
  color: #2a9df6;
}

.wrapper .main .cont li:nth-child(3) h3 {
  color: #ff4a10;
}

.wrapper .main .cont li:nth-child(4) h3 {
  color: #fa3756;
}

.wrapper .main .cont li .cont-r {
  width: 50%;
}

.wrapper .main .cont li .cont-r img {
  width: 100%;
  display: block;
}

.wrapper .main .toutiao {
  display: flex;
  background: #fff;
}

.wrapper .main .toutiao .left {
  width: 1.22667rem;
}

.wrapper .main .toutiao .left > img {
  width: 100%;
}

.wrapper .main .toutiao .right {
  flex: 1;
  height: 1.28rem;
}

.wrapper .main .toutiao .right .swiper-slide {
  display: flex;
}

.wrapper .main .toutiao .right .swiper-slide ul {
  flex: 1;
  padding-left: 0.13333rem;
}

.wrapper .main .toutiao .right .swiper-slide ul li {
  line-height: 0.58667rem;
}

.wrapper .main .toutiao .right .swiper-slide ul li span {
  border: 1px solid #c30;
  padding: 0.05333rem 0.13333rem;
  border-radius: 0.13333rem;
  margin-right: 0.13333rem;
}

.wrapper .main .toutiao .right .swiper-slide > img {
  width: 1.6rem;
  height: 1.28rem;
}

.wrapper .footer {
  width: 100%;
  height: 1.33333rem;
  background: #fff;
  border-top: 3px solid #eee;
  display: flex;
  align-items: center;
}

.wrapper .footer a {
  width: 20%;
  text-align: center;
  color: #333;
}

.wrapper .footer a i {
  font-size: 0.58667rem;
}

.wrapper .footer a i.icon-taobao1 {
  font-size: 0.96rem;
  color: #f66706;
}
