html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline; }

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none; }

html,
body {
  width: 100%;
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  font-family: arial, sans-serif; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

ins,
a {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: inline-block; }

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0); }

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px; }

.wrap {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .wrap .header {
    width: 100%;
    height: 1.54667rem;
    background: #00c3b1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .wrap .header .zuo {
      width: 2.02667rem;
      height: 1.54667rem;
      line-height: 1.54667rem;
      text-align: center; }
      .wrap .header .zuo span {
        font-size: 0.53333rem;
        color: #fff; }
      .wrap .header .zuo i {
        font-size: 0.37333rem;
        color: #fff; }
    .wrap .header .inp {
      margin: 0.26667rem 0;
      width: 6.26667rem;
      height: 0.93333rem;
      background: #00a697;
      border-radius: 0.13333rem; }
    .wrap .header .you {
      width: 1.44rem; }
      .wrap .header .you p {
        margin-top: 0.26667rem;
        width: 100%;
        text-align: center; }
        .wrap .header .you p i {
          font-size: 0.53333rem;
          color: #fff; }
      .wrap .header .you div {
        text-align: center;
        color: #fff; }
  .wrap .main {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
    overflow-y: scroll; }
    .wrap .main .banner {
      width: 100%;
      height: 2.88rem; }
      .wrap .main .banner img {
        width: 100%;
        height: 100%; }
    .wrap .main .baner {
      margin-bottom: 0.26667rem;
      width: 100%; }
      .wrap .main .baner .wrapper {
        width: 100%; }
        .wrap .main .baner .wrapper .slide {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: distribute;
              justify-content: space-around;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
          .wrap .main .baner .wrapper .slide a {
            margin: 0.13333rem 0;
            width: 20%; }
            .wrap .main .baner .wrapper .slide a div {
              margin: 0 auto;
              width: 1.28rem;
              height: 1.28rem;
              border-radius: 50%; }
              .wrap .main .baner .wrapper .slide a div img {
                width: 100%;
                height: 100%; }
            .wrap .main .baner .wrapper .slide a p {
              width: 100%;
              height: 0.85333rem;
              line-height: 0.85333rem;
              text-align: center;
              font-size: 0.37333rem;
              color: #000; }
    .wrap .main .nei {
      width: 100%; }
      .wrap .main .nei .biao {
        width: 100%;
        height: 1.22667rem;
        line-height: 1.22667rem; }
        .wrap .main .nei .biao span {
          margin-left: 0.26667rem;
          font-size: 0.53333rem; }
      .wrap .main .nei .box {
        width: 100%; }
        .wrap .main .nei .box dl {
          margin-top: 0.26667rem;
          padding: 0 0.26667rem;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between; }
          .wrap .main .nei .box dl dt {
            width: 2.53333rem;
            height: 2.53333rem; }
            .wrap .main .nei .box dl dt img {
              width: 100%;
              height: 100%; }
          .wrap .main .nei .box dl dd {
            width: 6.66667rem;
            height: 2.53333rem; }
            .wrap .main .nei .box dl dd h6 {
              width: 100%;
              height: 0.8rem;
              line-height: 0.8rem;
              font-size: 0.48rem;
              color: #666; }
            .wrap .main .nei .box dl dd p {
              width: 100%;
              height: 0.53333rem;
              line-height: 0.53333rem;
              font-size: 0.42667rem;
              color: #666; }
            .wrap .main .nei .box dl dd div {
              margin-top: 0.53333rem;
              width: 100%;
              height: 0.53333rem;
              line-height: 0.53333rem;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex; }
              .wrap .main .nei .box dl dd div h5 {
                font-size: 0.53333rem;
                color: #00a697; }
              .wrap .main .nei .box dl dd div p {
                font-size: 0.42667rem;
                color: #666; }
