html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: arial, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ins,
a {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: inline-block;
}

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
}

html {
  font-size: 37.5px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #eee;
}

.head {
  width: 100%;
  height: 1.17333rem;
  background: #06c1ae;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.26667rem;
  color: #fff;
}

.head p {
  margin-right: 0.26667rem;
}

.head p i {
  margin-left: 0.13333rem;
  font-size: 0.37333rem;
}

.head div {
  flex: 1;
  height: 0.8rem;
  background: #fff;
  border-radius: 0.4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0.26667rem;
}

.head div i {
  color: #000;
  font-size: 0.37333rem;
  margin-right: 0.26667rem;
}

.head div input {
  flex: 1;
}

.head i {
  font-size: 0.53333rem;
  margin-left: 0.26667rem;
}

.main {
  flex: 1;
  background: #eee;
  overflow: hidden;
}

.main .main-all {
  width: 100%;
}

.main .main-all .logoIn {
  width: 100%;
  height: 3.2rem;
  background: url("../images/bg.jpg") no-repeat 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 0.02667rem solid #ccc;
}

.main .main-all .logoIn .title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main .main-all .logoIn .title h2 {
  font-size: 0.48rem;
}

.main .main-all .logoIn .title img {
  width: 0.66667rem;
  margin-right: 0.13333rem;
}

.main .main-all .logoIn .logo-btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0.8rem;
  margin: 0.53333rem 0;
}

.main .main-all .logoIn .logo-btn button {
  width: 3.2rem;
  height: 1.06667rem;
  background: #fff;
  outline: none;
  margin: 0.26667rem;
  border: 0.02667rem solid #06c1ae;
  font-size: 0.32rem;
  padding: 0.08rem 0.13333rem;
  color: #06c1ae;
  border-radius: 1.06667rem;
}

.main .main-all .logoIn .logo-btn .active {
  background: #06c1ae;
  color: #fff;
}

.main .main-all .main-list {
  width: 100%;
  height: 5.2rem;
}

.main .main-all .main-list .swiper-container {
  width: 100%;
  height: 5.2rem;
}

.main .main-all .main-list .swiper-container .one {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
}

.main .main-all .main-list .swiper-container .one a {
  width: 20%;
  height: 2.32rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #000;
}

.main .main-all .main-list .swiper-container .one a img {
  width: 1.17333rem;
  height: 1.17333rem;
  margin-bottom: 0.13333rem;
}

.main .main-all .main-list .swiper-container .swiper-pagination span {
  background: #06c1ae;
  width: 0.26667rem;
  height: 0.26667rem;
}

.main .main-all .hot-list {
  width: 100%;
  margin-top: 0.26667rem;
  background: #fff;
}

.main .main-all .hot-list h1 {
  line-height: 1.33333rem;
  font-size: 0.53333rem;
  border-bottom: 0.02667rem solid #ccc;
  margin-left: 0.26667rem;
}

.main .main-all .hot-list .product {
  width: 100%;
}

.main .main-all .hot-list .product dl {
  padding: 0.26667rem;
  display: flex;
}

.main .main-all .hot-list .product dl dt {
  width: 26%;
}

.main .main-all .hot-list .product dl dd {
  flex: 1;
  margin-left: 0.26667rem;
}

.main .main-all .hot-list .product dl dd b {
  font-size: 0.48rem;
}

.main .main-all .hot-list .product dl dd p {
  font-size: 0.37333rem;
}

.main .main-all .hot-list .product dl dd div {
  width: 100%;
  display: flex;
  margin-top: 0.53333rem;
  justify-content: space-between;
  align-items: center;
}

.main .main-all .hot-list .product dl dd div p {
  font-size: 0.37333rem;
}

.main .main-all .hot-list .product dl dd div p:nth-child(1) span {
  font-size: 0.48rem;
  color: #06c1ae;
  margin-right: 0.08rem;
}
