html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: arial, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ins,
a {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: inline-block;
}

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
  box-sizing: border-box;
}

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.wrap .header {
  width: 100%;
  height: 1.33333rem;
  display: flex;
  background: #00c3b1;
  color: #fff;
  align-items: center;
}

.wrap .header div:nth-child(1) {
  padding: 0 0.26667rem;
}

.wrap .header div:nth-child(2) {
  flex: 1;
  height: 1.33333rem;
  padding: 0.26667rem 0.26667rem;
}

.wrap .header div:nth-child(2) div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: #00a697;
}

.wrap .header div:nth-child(3) {
  padding: 0 0.26667rem;
  display: flex;
  flex-direction: column;
}

.wrap .section {
  flex: 1;
  width: 100%;
  overflow: hidden;
}

.wrap .section .content {
  width: 100%;
}

.wrap .section .content .banner {
  width: 100%;
  height: 2.88rem;
}

.wrap .section .content .banner img {
  width: 100%;
  height: 100%;
}

.wrap .section .content .swiper-container,
.wrap .section .content .swiper-wrapper,
.wrap .section .content .swiper-slide {
  width: 100%;
  height: 5.33333rem;
}

.wrap .section .content .swiper-slide {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 0.26667rem;
  align-items: center;
  border-bottom: 5px solid #f4f4f4;
}

.wrap .section .content .swiper-slide dl {
  width: 20%;
  flex-shrink: 0;
  text-align: center;
}

.wrap .section .content .title {
  width: 100%;
  height: 1.2rem;
  line-height: 1.2rem;
  padding: 0 0.26667rem;
}

.wrap .section .content .title h2 {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #ccc;
  color: #333;
  font-size: 0.53333rem;
}

.wrap .section .content .list {
  width: 100%;
  padding: 0 0.26667rem;
}

.wrap .section .content .list .box {
  width: 100%;
  height: 3.14667rem;
  border-bottom: 1px solid #ccc;
  display: flex;
  padding: 0.26667rem 0px;
}

.wrap .section .content .list .box div:nth-child(1) {
  height: 3.14667rem;
  padding: 0.08rem;
}

.wrap .section .content .list .box div:nth-child(1) img {
  width: 2.61333rem;
}

.wrap .section .content .list .box div:nth-child(2) {
  flex: 1;
}

.wrap .section .content .list .box div:nth-child(2) div {
  display: flex;
  justify-content: space-between;
  padding: 0.13333rem;
}

.wrap .section .content .list .box div:nth-child(2) div p {
  height: 0.53333rem;
}

.wrap .section .content .list .box div:nth-child(2) div p > span {
  color: #00c3b1;
  font-size: 0.37333rem;
}

.wrap .section .content .list .box div:nth-child(2) div h3 {
  font-weight: 600;
  color: red;
}
