* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

$browser-default-font-size: 37.5px !default;
@function pxTorem($px) {
    @return $px / $browser-default-font-size * 1rem;
}

@mixin flex {
    display: flex;
}

body,
html {
    width: 100%;
    height: 100%;
}

.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: pxTorem(45px);
    @include flex;
    justify-content: space-between;
    padding: 0px pxTorem(15px);
    align-items: center;
    // border-bottom: 1px solid #ccc;
    background: -webkit-linear-gradient(left, #fa9202, #ff5100);
    div {
        &:nth-child(1) {
            height: pxTorem(45px);
            line-height: pxTorem(45px);
            img {
                width: pxTorem(30px);
                vertical-align: middle;
            }
        }
        &:nth-child(2) {
            flex: 1;
            height: pxTorem(45px);
            padding: pxTorem(5px) pxTorem(10px);
            div {
                width: 100%;
                height: 100%;
                background: rgba(100, 100, 100, 0.5);
                border-radius: 15px;
                @include flex;
                padding: 0 pxTorem(10px);
                justify-content: space-between;
                align-items: center;
                input {
                    flex: 8;
                    border: 0;
                    background: none;
                }
                i {
                    img {
                        width: pxTorem(20px);
                        vertical-align: middle;
                    }
                }
            }
        }
        &:nth-child(3) {
            height: pxTorem(45px);
            line-height: pxTorem(45px);
            img {
                width: pxTorem(30px);
                vertical-align: middle;
            }
        }
    }
}

.section {
    flex: 1;
    width: 100%;
    overflow: hidden;
    .content {
        width: 100%;
        height: auto;
        .swiper-container {
            width: 100%;
            height: pxTorem(155px);
            .swiper-wrapper {
                width: 100%;
                height: 100%;
                .swiper-slide {
                    width: 100%;
                    height: 100%;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        .nav {
            width: 100%;
            height: pxTorem(155px);
            @include flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            a {
                text-align: center;
                flex-shrink: 0;
                width: 20%;
                display: block;
                color: #333;
            }
        }
        .runlist {
            width: 100%;
            height: pxTorem(55px);
            @include flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 8px solid #f4f4f4;
            .listscroll {
                height: pxTorem(36px);
                overflow: hidden;
                .listSwiper {
                    height: 100%;
                }
            }
            .l_left {
                width: auto;
                height: 100%;
            }
            .l_reght {
                width: auto;
                height: 100%;
            }
        }
        .banner {
            width: 100%;
            height: pxTorem(225px);
            @include flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            padding: 0px pxTorem(10px);
            div {
                height: pxTorem(110px);
                width: 25%;
                flex-shrink: 0;
                overflow: hidden;
                h3 {
                    font-size: pxTorem(18px);
                }
                img {
                    font-size: pxTorem(50px);
                }
            }
        }
        .box {
            width: 100%;
            height: 200px;
        }
    }
}

.footer {
    width: 100%;
    height: pxTorem(45px);
    background: #f4f4f4;
    @include flex;
    justify-content: space-between;
    padding: 0 pxTorem(10px);
    align-items: center;
    div {
        width: 20%;
        text-align: center;
        p {
            font-size: pxTorem(10px);
            color: #d2cecf;
        }
        i {
            font-size: pxTorem(18px);
            color: #d2cecf;
            font-size: pxTorem(24px);
        }
        &:nth-child(1) {
            i {
                // font-size: pxTorem(20px);
                color: orange;
            }
        }
    }
}