@import "common.scss";
@import "./_minix.scss";
html,body{
    width:100%;
    height:100%;
}
.box{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    background:url("../img/1.jpg");
    background-size:cover;
    
    .header{
        width:100%;
        height:pxTorem(44px);
        display:flex;
        color:#fff;
        justify-content:space-between;
        padding:pxTorem(4px) pxTorem(10px);
        box-sizing:border-box;
        >p:nth-child(1),>p:nth-child(3){
            width:15%;
            height:100%;
            text-align:center;
            line-height:pxTorem(36px);
            i{
                font-size:pxTorem(22px);
                font-weight:900;
            }
        }
        >p:nth-child(2){
            flex:1;
            display:flex;
            line-height:pxTorem(34px);
            font-size:pxTorem(16px);
           
            span{
                flex:1;
                text-align: center;
                display:inline-block;
            }
            span:nth-child(1){
                padding-left:pxTorem(70px);
                box-sizing:border-box;
            }
            span:nth-child(2){
                padding-right:pxTorem(70px);
                box-sizing:border-box;
            }
            .active{
                font-weight:900;
                font-size:pxTorem(17px);
            }
        }
    }
}
.container{
    flex:1;
   .name{
       width:100%;
       height:pxTorem(20px);
       font-size:pxTorem(18px);
       font-weight:900;
       color:#fff;
       margin-top:pxTorem(430px);
       padding:0 pxTorem(10px);
       box-sizing:border-box;
   }
   .center{
       width:100%;
       font-size:pxTorem(17px);
       color:#fff;
       padding:0 pxTorem(10px);
       box-sizing:border-box;
       margin:pxTorem(20px) 0;

       span{
        font-weight:900;
       }
   }

}
.footer{
    width:100%;
    height:pxTorem(50px);
    display:flex;
    border-top:pxTorem(0.5px) solid #eee;
    color:#ccc;
    font-size:pxTorem(16px);
    padding:0 pxTorem(10px);
    box-sizing:border-box;
    p{
        flex:1;
        text-align:center;
        line-height:pxTorem(50px);
    }
    .add{
        color:#fff;
        font-size:pxTorem(18px);
        border-bottom:pxTorem(2px) solid #fff;
    }
}