html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: arial, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ins,
a {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: inline-block;
}

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
}

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.wrap .header {
  width: 100%;
  height: 1.33333rem;
  background: #f77e0e;
}

.wrap .header .head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}

.wrap .header .head .search {
  width: 70%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;
}

.wrap .header .head .search i {
  position: absolute;
  left: 0.13333rem;
  top: -0.08rem;
  font-size: 0.48rem;
}

.wrap .header .head .search i.xiangji {
  position: absolute;
  right: -5.6rem;
}

.wrap .header .head .search input {
  width: 100%;
  height: 1.06667rem;
  border-radius: 0.53333rem;
  background: #eb7a11;
  color: #fff;
  text-indent: 0.8rem;
}

.wrap .header .head div {
  width: 10%;
  height: 100%;
  text-align: center;
  line-height: 1.33333rem;
}

.wrap .main {
  width: 100%;
  flex: 1;
  overflow-y: scroll;
  background: #dfdeda;
}

.wrap .main .nav {
  width: 100%;
  height: 4rem;
}

.wrap .main .nav img {
  width: 100%;
  height: 100%;
}

.wrap .main .navition {
  width: 100%;
  height: 5.33333rem;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  align-items: center;
}

.wrap .main .navition a {
  display: block;
  width: 20%;
  height: 50%;
  color: #181718;
  text-align: center;
  margin-top: 0.26667rem;
}

.wrap .main .navition a img {
  width: 80%;
  height: 50%;
}

.wrap .main .navition a p {
  font-size: 0.32rem;
}

.wrap .main .toutiao {
  width: 100%;
  height: 1.6rem;
  display: flex;
}

.wrap .main .toutiao .toutiao-left {
  width: 25%;
  height: 100%;
}

.wrap .main .toutiao .toutiao-left img {
  width: 100%;
  height: 100%;
}

.wrap .main .toutiao .toutiao-right {
  width: 75%;
  height: 100%;
}

.wrap .main .toutiao .toutiao-right .swiper-slide {
  display: flex;
  justify-content: space-between;
  background: #fff;
}

.wrap .main .toutiao .toutiao-right .swiper-slide img {
  width: 25%;
  height: 100%;
}

.wrap .main .toutiao .toutiao-right .swiper-slide .active {
  border: 0.02667rem solid #e418eb;
  color: #e418eb;
}

.wrap .main .content {
  width: 100%;
  padding: 0.26667rem 0;
}

.wrap .main .content .content-item {
  width: 100%;
  height: 2.98667rem;
  display: flex;
  justify-content: space-between;
}

.wrap .main .content .content-item img {
  width: 25%;
  height: 100%;
}

.wrap .main .content .content-item .cont {
  width: 25%;
  height: 100%;
  background: #fff;
}

.wrap .main .content .content-item .cont h1 {
  color: #1ee3f1;
  font-size: 0.42667rem;
  height: 25%;
}

.wrap .main .content .content-item .cont img {
  width: 100%;
  height: 75%;
}

.wrap .footer {
  width: 100%;
  height: 1.33333rem;
  background: #f8f6f6;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wrap .footer .footer-item {
  width: 20%;
  height: 100%;
  text-align: center;
}

.wrap .footer .footer-item i {
  font-size: 0.66667rem;
}

.wrap .footer .footer-item p {
  font-size: 0.26667rem;
}

.wrap .footer .footer-item .tao {
  font-size: 1.06667rem;
  color: #eb7a11;
}
