html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline; }

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none; }

html,
body {
  width: 100%;
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  font-family: arial, sans-serif; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

ins,
a {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: inline-block; }

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0); }

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px; }

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column; }
  .wrap .header {
    z-index: 99;
    position: fixed;
    width: 100%;
    display: flex;
    background: rgba(8, 8, 8, 0.575);
    height: 1.46667rem;
    justify-content: space-between;
    font-weight: bold;
    align-items: center; }
    .wrap .header .search {
      width: 10%;
      height: 100%;
      text-align: center; }
      .wrap .header .search i {
        font-size: 0.66667rem;
        line-height: 1.46667rem; }
    .wrap .header .center {
      width: 20%;
      height: 100%;
      text-align: center;
      line-height: 1.46667rem;
      font-size: 0.42667rem;
      display: flex;
      justify-content: space-between; }
    .wrap .header .more {
      width: 10%;
      height: 100%;
      text-align: center; }
      .wrap .header .more i {
        font-size: 0.66667rem;
        line-height: 1.46667rem; }
  .wrap .main {
    width: 100%;
    height: 100%; }
    .wrap .main .nav {
      width: 100%;
      height: 100%; }
      .wrap .main .nav .swiper-wrapper .swiper-slide img {
        width: 100%;
        height: 100%; }
      .wrap .main .nav .swiper-wrapper .swiper-slide .title {
        z-index: 99;
        position: fixed;
        left: 0.26667rem;
        top: 70%;
        font-size: 0.42667rem;
        font-weight: bold; }
      .wrap .main .nav .swiper-wrapper .swiper-slide .sidebar {
        z-index: 99;
        width: 15%;
        height: 60%;
        position: fixed;
        right: 0.26667rem;
        top: 30%;
        text-align: center; }
        .wrap .main .nav .swiper-wrapper .swiper-slide .sidebar ul {
          width: 100%;
          height: 60%; }
          .wrap .main .nav .swiper-wrapper .swiper-slide .sidebar ul li {
            width: 100%;
            height: 20%;
            margin-top: 0.53333rem; }
            .wrap .main .nav .swiper-wrapper .swiper-slide .sidebar ul li i {
              font-size: 0.8rem;
              color: #fff; }
            .wrap .main .nav .swiper-wrapper .swiper-slide .sidebar ul li p {
              color: #fff; }
            .wrap .main .nav .swiper-wrapper .swiper-slide .sidebar ul li:last-child {
              margin-top: 1.33333rem; }
          .wrap .main .nav .swiper-wrapper .swiper-slide .sidebar ul .massage-person {
            width: 100%;
            height: 20%; }
            .wrap .main .nav .swiper-wrapper .swiper-slide .sidebar ul .massage-person img {
              width: 100%;
              height: 100%;
              border-radius: 50%; }
          .wrap .main .nav .swiper-wrapper .swiper-slide .sidebar ul .music {
            width: 100%;
            height: 20%; }
            .wrap .main .nav .swiper-wrapper .swiper-slide .sidebar ul .music img {
              width: 100%;
              height: 100%;
              border-radius: 50%; }
  .wrap .footer {
    z-index: 99;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1.33333rem;
    background: rgba(15, 15, 15, 0.575);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    line-height: 1.33333rem;
    border-top: 0.02667rem solid rgba(12, 12, 12, 0.671); }
    .wrap .footer .base {
      width: 20%;
      height: 100%;
      text-align: center;
      font-size: 0.48rem; }
      .wrap .footer .base i {
        font-size: 0.8rem;
        color: #10f5d6;
        line-height: pxrem(50px); }
      .wrap .footer .base.active {
        color: #0fe7e7;
        border-bottom: 0.02667rem solid #fff; }
