@import "./common.scss";
@import "./_minix.scss";
html,body{
    width:100%;
    height:100%;
}
.box{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    .header{
        width:100%;
        height:pxTorem(44px);
        background:#ff7300;
        display:flex;
        padding:pxTorem(2px) pxTorem(10px);
        box-sizing:border-box;
        justify-content:space-between;
        .hLeft{
            width:pxTorem(40px);
            height:100%;
            text-align:center;

            img{
                width:pxTorem(23px);
                height:pxTorem(23px);
            }
            dd{
                font-size:pxTorem(10px);
                color:#ffbe72;
            }
        }

        .hcenter{
            width:pxTorem(250px);
            height:100%;
            padding:pxTorem(4px) pxTorem(2px);
            box-sizing:border-box;
            input{
                width:100%;
                height:100%;
                border-radius:pxTorem(25px);
                background:#fff;
                padding:pxTorem(4px) pxTorem(10px);
                box-sizing:border-box;
                color:#fffcf6;
                font-size:pxTorem(13px);
                background:#ff9132;
            }
        }

        .hright{
            width:pxTorem(40px);
            height:100%;
            text-align:center;

            img{
                width:pxTorem(23px);
                height:pxTorem(23px);
            }
            dd{
                font-size:pxTorem(10px);
                color:#ffbe72;
            }
        }
    }
    .center{
        width:100%;
        flex:1;
        overflow-y:scroll;
        background:#f4f4f4;
    }
    .footer{
        width:100%;
        height:pxTorem(50px);
        display:flex;
        background:#ededed;
        .fleft{
            width:pxTorem(100px);
            height:100%;
            padding:0 pxTorem(20px);
            box-sizing:border-box;
            img{
                // width:pxTorem(70px);
                width:90%;
                height:95%;
            }
        }
        .fright{
            flex:1;
            display:flex;
            padding:pxTorem(3px) pxTorem(2px);
            box-sizing:border-box;
            dl{
                flex:1;
                text-align:center;
                dt i{
                    font-size:pxTorem(24px);
                }
                dd{
                    font-size:pxTorem(14px);
                }
            }
        }
    }
}

.banner{
    img{
        width:100%;
    }
}
.btns{
    width:100%;
    height:pxTorem(160px);
    background:#fff;
    display:flex;
    flex-wrap:wrap;
    dl{
        width:20%;
        height:50%;
        text-align:center;
        img{
            width:pxTorem(50px);
            height:pxTorem(50px);
        }
        font-size:pxTorem(14px);
        color:#474747;
    }
}
.headTop{
    width:100%;
    height:pxTorem(60px);
    display:flex;
    background:#fff;
    justify-content:space-between;
    .topleft{
        img{
            width:pxTorem(62px)
        }
    }
    .topright{
        img{
            width:pxTorem(90px)
        }
    }
    .topcenter{
        font-size:pxTorem(12px);
        span{
            border:1px solid #ff9132;
            font-size:pxTorem(14px);
            color:#ff9132;
            display:inline-block;
            padding:0 pxTorem(3px);
        }
        p{
            margin:pxTorem(5px) 0;
        }
    }
}
.center-footer {
    margin-top: pxTorem(10px);
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    li {
        width: 50%;
        display: flex;
        padding: pxTorem(5px) pxTorem(10px);
        box-sizing:border-box;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        .cont-l {
            width: 50%;
            h3 {
                font-size: pxTorem(18px);
                color: #c30;
            }
            p {
                font-size: pxTorem(13px);
                color:#999999;
            }
            img {
                width: 100%;
            }
        }
        .cont-img {
            width: 50%;
            img {
                width: 100%;
                display: block;
            }
        }
    }
}
