html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline; }

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none; }

html,
body {
  width: 100%;
  height: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  font-family: arial, sans-serif; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

ins,
a {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  display: inline-block; }

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -ms-tap-highlight-color: rgba(0, 0, 0, 0);
  -o-tap-highlight-color: rgba(0, 0, 0, 0); }

html {
  font-size: 37.5px; }

.box {
  width: 100%;
  height: 100%;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-flex-direction: column;
  flex-direction: column; }
  .box header {
    width: 100%;
    height: 1.6rem;
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    display: -webkit-flex;
    /* NEW - Chrome */
    -webkit-align-items: center;
    align-items: center;
    background: #5dc9eb;
    padding: 0 0.26667rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-justify-content: space-around;
    justify-content: space-around; }
    .box header form {
      width: 55%;
      height: 0.8rem;
      background: rgba(0, 0, 0, 0.1);
      display: flex;
      /* NEW, Spec - Opera 12.1, Firefox 20+ */
      display: -webkit-flex;
      /* NEW - Chrome */
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: space-around;
      justify-content: space-around;
      padding: 0 0.26667rem;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box; }
      .box header form span {
        display: block;
        width: 0.8rem;
        text-align: center;
        font-size: 0.37333rem;
        color: #fff; }
      .box header form input {
        width: 100%;
        height: 100%; }
    .box header > div {
      display: flex;
      /* NEW, Spec - Opera 12.1, Firefox 20+ */
      display: -webkit-flex;
      /* NEW - Chrome */
      -webkit-flex-direction: column;
      flex-direction: column;
      text-align: center; }
      .box header > div span {
        font-size: 0.48rem;
        color: #fff; }
      .box header > div i {
        font-style: normal;
        font-size: 0.26667rem;
        color: #fff; }
  .box main {
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    overflow: hidden; }
    .box main .banner {
      width: 100%;
      height: 3.2rem; }
      .box main .banner img {
        width: 100%;
        height: 100%; }
    .box main .swiper-container {
      width: 100%;
      height: 5.33333rem; }
      .box main .swiper-container .list {
        width: 100%;
        height: 4.26667rem;
        display: flex;
        /* NEW, Spec - Opera 12.1, Firefox 20+ */
        display: -webkit-flex;
        /* NEW - Chrome */
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-top: 0.4rem; }
        .box main .swiper-container .list dl {
          width: 20%;
          height: 50%;
          padding-top: 0.26667rem;
          display: flex;
          /* NEW, Spec - Opera 12.1, Firefox 20+ */
          display: -webkit-flex;
          /* NEW - Chrome */
          -webkit-flex-direction: column;
          flex-direction: column;
          -webkit-align-items: center;
          align-items: center; }
          .box main .swiper-container .list dl dt {
            width: 1.06667rem;
            height: 1.06667rem;
            border-radius: 50%;
            background: #5dc9eb; }
          .box main .swiper-container .list dl dd {
            margin-top: 0.13333rem; }
    .box main h3 {
      padding: 0 0.26667rem;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 0.53333rem; }
    .box main .conlist {
      width: 100%;
      padding: 0 0.26667rem;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box; }
      .box main .conlist dl {
        width: 100%;
        height: 2.13333rem;
        display: flex;
        /* NEW, Spec - Opera 12.1, Firefox 20+ */
        display: -webkit-flex;
        /* NEW - Chrome */
        -webkit-align-items: center;
        align-items: center; }
        .box main .conlist dl h4,
        .box main .conlist dl b {
          font-size: 0.42667rem; }
        .box main .conlist dl b {
          color: #5dc9eb;
          font-weight: bolder; }
        .box main .conlist dl div {
          -webkit-flex: 1 1 0%;
          flex: 1 1 0%; }
          .box main .conlist dl div dd {
            display: flex;
            /* NEW, Spec - Opera 12.1, Firefox 20+ */
            display: -webkit-flex;
            /* NEW - Chrome */
            -webkit-justify-content: space-between;
            justify-content: space-between;
            padding-left: 0.53333rem;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            -o-box-sizing: border-box;
            box-sizing: border-box; }
            .box main .conlist dl div dd b {
              margin-right: 0.26667rem; }
